// Cover
.cover {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  z-index: 3;
  @include orient(portrait) {
    background-size: auto 100%;
  }
}

.cover-brand {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: auto;
  z-index: 4;
  transform: translate(-50%, -50%);
  @include screen(xs) {
    width: 160px;
  }
}

.cover-caption {
  position: absolute;
  bottom: $grid-gutter-width / 2;
  right: $grid-gutter-width / 2;
  color: $text-color-inversed;
}
