%ddmenu-base {
  overflow: hidden;
  transition: all .2s linear;
  display: block;
  background: #fff;
  box-shadow: none;
  border-radius: 0;
  min-width: initial;
  min-width: auto;
  width: $nav-width;
  margin: 0 0 15px 15px;
}

%ddmenu-is-collapsed {
  height: 0;
  opacity: 0;
}

%ddmenu-is-expanded {
  height: auto;
  opacity: 1;
}

// The dropdown menu (ul)
.dropdown-menu {
  @extend %ddmenu-base;
  @extend %ddmenu-is-collapsed;
  @include screen(sm,md,lg) {
    position: relative;
    margin: 0 0 0 15px;
    padding: 0;
    border: none;
  }
  > li {
    > a {
      padding: 10px 0;
      @extend %word-wrap;
      &:hover {
        color: #b4b4b4;
      }
    }
    &.active {
      > a {
        color: #b4b4b4;
      }
    }
  }
}

.nav-secondary {
  .dropdown-menu {
    margin-left: 0;
  }
}

@include screen(sm,md,lg) {
  .current-menu-parent {
    &.menu-item-has-children {
      .caret { display:none; }
    }
    > .dropdown-menu {
      // todo: extension is not working
      height: auto;
      opacity: 1;
    }
  }
}

// Open state for the dropdown
.open {
  > .dropdown-menu {
    @extend %ddmenu-is-expanded;
  }
}
