// Navigation
.nav {
  font-family: $nav-font-family;
}

.nav-primary {
  position: fixed;
  z-index: 2;
  top: $header-gutter / 2;
  right: $header-gutter / 2;
  @media (min-width: $screen-sm) {
    top: $header-gutter;
    right: $header-gutter;
  }
}

#menu-primary {
  margin-top: -10px;
  > li > a {
    font-size: $font-size-large;
    font-weight: 500;
    text-align: right;
    padding: 10px 0;
  }
}
