// Navigation

.nav {
  font-size: 0;
  > li {
    display: inline-block;
    a {
      padding: 10px;
      &:hover {
        color: #b4b4b4;
      }
    }
    &.active {
      > a {
        color: #b4b4b4;
      }
    }
  }
}

.nav-primary {
  @media (max-width: $screen-xs-max) {
    position: relative;
    z-index: 5;
    background: #fff;
    .nav {
      @include clearfix;
      > li {
        font-weight: bold;
        float: left;
        > a {
          padding: 10px 15px;
        }
      }
    }
    &.is-stucked {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 10;
  .nav {
    li {
      font-size: 16px;
    }
  }
}
