// Navigation
.nav {
  font-family: $nav-font-family;
  > li {
    @include clearfix;
    > a {
      padding: 0;
    }
  }
}

.pagination {
  clear: both;
  text-align: center;
}

.nav-links {
  .page-numbers {
    display: inline-block;
    padding: 1rem
  }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

.ias-trigger, .ias-spinner {
  clear: both;
  margin-bottom: 2rem;
  height: 40px;
  text-align: center;
}

.ias-trigger {
  > a {
    @extend %button-ghost;
    height: 40px;
    padding: 0 8rem;
    line-height: 40px;
    font-size: 1.6rem;
  }
}

.ias-spinner {
  > img {
    width: 40px;
    height: 40px;
    animation: spin 1.5s linear infinite;
  }
}

.nav-primary {
  position: fixed;
  top: 2.5rem;
  right: $grid-gutter-width;
  z-index: 99;
  @media (max-width: $screen-sm) {
    display: none;
    &.is-open {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      background: #E5EAFF;
      width: 100%;
      height: 100%;
      > .nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        > li {
          display: block;
          margin: 0;
          padding: .5rem 0;
        }
      }
    }
  }
  > .nav {
    font-size: 2rem;
    > li {
      font-weight: 600;
      display: inline-block;
      margin-left: 1rem;
    }
  }
}

#icon-menu {
  position: fixed;
  top: 30px;
  right: $grid-gutter-width / 2;
  z-index: 999;
  width: 30px;
  height: 20px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $brand-primary;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) { top: 0px; }
    &:nth-child(2), &:nth-child(3) { top: 9px; }
    &:nth-child(4) { top: 18px; }
  }
  &.is-open span {
    &:nth-child(1) {
      top: 8px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 8px;
      width: 0%;
      left: 50%;
    }
  }
}

.posts-navigation {
  margin-top: $line-height-computed * 2;
  .nav-links {
    @include clearfix;
  }
  a {
    display: inline-block;
    margin-right: 10px;
  }
}
