// Topics
.topics {
  @include make-row();
}

.topic {
  @include make-xs-column(12);
  @include make-sm-column(6);
}

.topic-item {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  margin-bottom: $grid-gutter-width;
}

.topic-item-title {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  background: rgba(0,0,0,.25);
  opacity: 0;
  color: #fff;
  transition: opacity .1s linear;
  &:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
  }
}

.topic-item-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
