// Page Header

.page-header {
  border: none;
  margin-top: 0;
  padding-bottom: 0;
  text-align: center;
  > h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-size: $font-size-h3;
  }
}

.section-header {
  text-align: center;
  margin: 2rem 0;
  > h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: $font-size-h3;
  }
  @media (min-width: $screen-md) {
    margin: 3rem 0;
  }
}

.entry-content, .page-body {
  a {
    text-decoration: none;
    border-bottom: 1px solid $text-color;
    &:hover {
      border-bottom-color: transparent; 
    }
  }
}
