// Glyphicons font path
$icon-font-path:                 "../fonts/";

// Images path
$images:                         "../images/";

// Typography
$font-family-sans-serif:         "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", Calibri, "Gothic Medium BBB", "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
$headings-font-family:           "Helvetica Neue", "Helvetica", Calibri, "Gothic Medium BBB", "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
$headings-font-weight:           500;
$headings-line-height:           1.4;

// Grid settings
$main-sm-columns:                12;
$sidebar-sm-columns:             4;
$grid-columns:                   12;
//$grid-gutter-width:              30px;

// Colors
$gray-base:                      #000;
$gray-light:                     lighten($gray-base, 46.7%);
$brand-primary:                  #221FFF;
$text-color:                     $gray-base;
$text-color-inversed:            #fff;

// Navs
$nav-link-hover-bg:              transparent;

// Dropdowns
$dropdown-bg:                    transparent;
$dropdown-border:                transparent;
$dropdown-fallback-border:       #fff;
$dropdown-divider-bg:            transparent;
$dropdown-link-hover-bg:         transparent;
$dropdown-link-active-bg:        transparent;
$dropdown-link-active-color:     $gray-light;
