// Glyphicons font path
$icon-font-path:                 "../fonts/";

// Images path
$images:                         "../images/";

// Typography
$font-family-sans-serif:         'Untitled Regular', 'Helvetica', 'Arial', '中ゴシックBBB', 'Gothic Medium BBB', '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
$headings-font-family:           'Untitled Medium', 'Helvetica', 'Arial', '中ゴシックBBB', 'Gothic Medium BBB', '游ゴシック体', 'Yu Gothic', YuGothic, sans-serif;
$headings-font-weight:           400;
$headings-line-height:           1.4;

// Grid settings
$main-sm-columns:                12;
$sidebar-sm-columns:             4;
$grid-columns:                   12;
$grid-gutter-width:              40px;
$header-gutter:                  $grid-gutter-width / 2;

// Colors
$gray-base:                      #000;
$gray-light:                     lighten($gray-base, 46.7%);
$brand-primary:                  #000;
$text-color:                     $brand-primary;
$text-color-inversed:            #fff;
$link-hover-color:               $text-color;
$link-hover-decoration:          none;
$base-border-color:              #ddd;

// Navs
$nav-font-family:                $font-family-sans-serif;
$nav-link-padding:               0;
$nav-link-hover-bg:              transparent;

$dropdown-link-color:            $brand-primary;
$dropdown-link-hover-color:      $gray-light;
$dropdown-link-active-color:     $brand-primary;
$dropdown-link-active-bg:        none;
