// basis

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'palt' 1;
  line-height: 1.8;
  @media (max-width: $screen-xs-max) {
    &.is-fixed {
      position: fixed;
      overflow: hidden;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2rem;
}

.main {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 10rem;
}

.wrap {
  @include clearfix;
  @extend %container-xl;
}
