// basis

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'palt' 1;
  line-height: 1.75;
}

.main {
  position: relative;
  z-index: 1;
  padding-top: 10rem;
  @media (min-width: $screen-sm) {
    padding-top: 14rem;
  }
}

.wrap {
  @include clearfix;
}
