footer.content-info {
  @include clearfix;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 105px;
}

#menu-links {
  @extend %list-unstyled;
  @extend %list-inline;
  padding: $grid-gutter-width 0;
  margin-bottom: 0;
  margin-left: -20px;
  > li {
    margin-left: 20px;
    > a {
      @extend %hover-to-fade;
    }
  }
}
