// Header
.brand {
  @extend %hover-to-fade;
  position: fixed;
  z-index: 2;
  top: $header-gutter / 2;
  left: $header-gutter / 2;
  @media (min-width: $screen-sm) {
    top: $header-gutter;
    left: $header-gutter;
  }
}
