// Header
header.banner {
  position: absolute;
  width: 100%;
  z-index: 2;
  > .brand {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.brand {
  @extend %hover-to-fade;
}

body.home {
  header.banner {
    display: none;
  }
  .wrap, footer.content-info {
    position: relative;
    background: #fff;
    z-index: 3;
  }
}
