.page-container {
  @extend %container-md;
}

.page-body {
  text-align: left;
  > p, > dl, > ul, > ol {
    line-height: 1.8;
    margin-bottom: 1.5em;
    span {
      @media (max-width: $screen-xs-max) {
        font-size: 100% !important;
      }
    }
  }
}
