.posts-container {
  @extend %container-sm;
}

.posts-item {
  @include clearfix;
  position: relative;
  margin-bottom: $line-height-computed;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed / 2; }
  > .entry-meta {
    width: 120px;
    position: absolute;
  }
  header, .entry-summary {
    margin-left: 120px;
  }
  .entry-title {
    margin-top: 0;
  }
}

.entry-title {
  font-size: $font-size-h4;
}

.entry-meta {
  margin-bottom: $line-height-computed;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed / 2; }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

.ias-spinner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 99999;
  > img {
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
}
