.posts-container {
  @extend %container-sm;
}

.posts-item {
  margin-bottom: $line-height-computed;
}

.hentry {
  header {
    margin-bottom: $line-height-computed;
  }
  .entry-title {
    margin-top: 0;
  }
  .entry-meta {
    margin-bottom: 0;
  }
  .entry-content {
    a {
      border-bottom: 1px dotted $brand-primary;
      &:hover {
        border-bottom: none;
      }
    }
  }
}

.archive .hentry {
  @include clearfix;
  position: relative;
  header {
    margin-bottom: $line-height-computed / 2;
  }
  @media (min-width: $screen-sm) {
    .entry-meta {
      width: 120px;
      position: absolute;
    }
    header, .entry-summary {
      margin-left: 120px;
    }
  }
}

.single .hentry {
}

.entry-title {
  font-size: $font-size-large;
  font-weight: 500;
}

.entry-meta {
  font-family: $nav-font-family;
  font-weight: 500;
  margin-bottom: $line-height-computed;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed / 2; }
}
