.entry-body + .works-body {
  margin-top: $line-height-computed * 2;
  @media (min-width: $screen-sm) { margin-top: $line-height-computed * 4; }
}

.works-body {
  @include clearfix;
  @include make-row(0);
  .works-item {
    @include make-sm-column(6, 0);
    @include make-lg-column(4, 0);
  }
}

body.home {
  .works-body {
    margin-top: 2rem;
    @media (min-width: $screen-md) {
      margin-top: 4rem;
    }
    .works-item {
      @include make-sm-column(6, 0);
      @include make-lg-column(6, 0);
    }
  }
}

.single-works {
  .entry-title {
    @extend %container-xs;
    text-align: center;
  }
  .entry-feature {
    @extend %container-xl;
    > .entry-item {
      > .item-image {
        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .entry-content {
    @extend %container-lg;
    > .entry-item {
      @extend %container-md;
      &:nth-child(odd) {
        margin-right: 0;
        .item-editor {
          @media (min-width: $screen-md) {
            margin-right: 0;
          }
        }
      }
      &:nth-child(even) {
        margin-left: 0;
        .item-editor {
          @media (min-width: $screen-md) {
            margin-left: 0;
          }
        }
      }
    }
  }
  .entry-meta {
    margin-bottom: $line-height-computed * 2;
    @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
  }
}

.entry-types {
  text-align: center;
  @extend %list-unstyled;
  @extend %list-inline;
  font-family: $headings-font-family;
  > li {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.entry-content,
.entry-item {
  @include word-wrap;
  margin-bottom: $line-height-computed * 2;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
}

.entry-item {
  margin-bottom: $line-height-computed * 2;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
  > .item-editor {
    text-align: left;
  }
  > .item-image {
    text-align: center;
    > img {
      @extend %img-responsive;
    }
  }
  > .item-oembed, > .item-video {
    position: relative;
	  padding-bottom: 56.25%; /* 16:9 */
	  height: 0;
    background: #000;
    > iframe, > object, > embed, > video {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}

.works-item {
  text-align: center;
  margin-bottom: $grid-gutter-width / 4;
  .item {
    &-poster {
      display: block;
      position: relative;
    	height: 0;
      overflow: hidden;
      cursor: pointer;
      padding-bottom: 56.25%; /* 16:9 */
      background-color: #000;
      &:hover {
        .item-poster-inner {
          transform: scale(1.01);
          opacity: .8;
        }
      }
      &-inner {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        transition: all .1s linear;
        transform: scale(1);
        opacity: 1;
      }
    }
    &-summary {
      padding: 0 ($grid-gutter-width / 2);
      .title {
        font-size: 1.6rem;
        @include ellipsis(#{1.6rem * 1.2}, 1);
      }
      .taxonomy {
      }
    }
  }
}
