.entry-body + .works-body {
  margin-top: $line-height-computed * 2;
  @media (min-width: $screen-sm) { margin-top: $line-height-computed * 4; }
}

.works-body {
  @include clearfix;
  @include make-row(20px);
  .works-item {
    @include make-xs-column(6, 20px);
  }
}

body.home {
  .works-body {
    @include make-row(0);
    .works-item {
      @include make-xs-column(12, 0);
    }
  }
}

.single-works {
  .entry-header {
    text-align: left;
  }
  .entry-title {
    @media (max-width: $screen-xs-max) {
      font-size: 2.2rem;
    }
    font-size: 2.4rem;
    line-height: 1.4;
  }
  .entry-feature {
    @media (max-width: $screen-xs-max) {
      margin-left: -20px;
      margin-right: -20px;
    }
    > .entry-item {
      > .item-image {
        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .entry-content {
    @media (max-width: $screen-xs-max) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  .entry-meta {
    margin-bottom: $line-height-computed * 2;
    @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
  }
}

.entry-categories {
  display: inline-block;
  font-size: $font-size-small;
  @extend %list-unstyled;
  @extend %list-inline;
  &:before {
    content: 'Category:';
    margin-right: .5em;
  }
  > li {
    margin-right: .5em;
    &:last-child {
      margin-right: 0;
    }
    a {
      border-bottom: 1px solid $text-color;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.entry-categories + .entry-taxonomies {
  margin-left: 1em;
}

.entry-taxonomies {
  display: inline-block;
  font-size: $font-size-small;
  @extend %list-unstyled;
  @extend %list-inline;
  &:before {
    content: 'Tag:';
    margin-right: .5em;
  }
  > li {
    margin-right: .5em;
    &:after {
      content: ',';
    }
    &:last-child {
      margin-right: 0;
      &:after {
        content: '';
      }
    }
    a {
      border-bottom: 1px solid $text-color;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.entry-content {
  @include word-wrap;
  margin-bottom: $line-height-computed * 2;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
}

.entry-item {
  @include word-wrap;
  @include clearfix;
  margin-bottom: $line-height-computed;
  > .item-editor {
    text-align: left;
  }
  > .item-image {
    text-align: center;
    > img {
      @extend %img-responsive;
    }
  }
  > .item-images {
    height: 0;
    overflow: hidden;
    padding-bottom: 66.6%; /* 3:2 */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    @media (min-width: $screen-xs) {
      width: calc(50% - 1rem);
      float: left;
      margin-left: 1rem;
      margin-right: 1rem;
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }
  > .item-oembed, > .item-video {
    position: relative;
	  padding-bottom: 56.25%; /* 16:9 */
	  height: 0;
    background: #000;
    > iframe, > object, > embed, > video {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}

.works-item {
  text-align: left;
  margin-bottom: $grid-gutter-width / 2;
  .home & {
    margin-bottom: $grid-gutter-width;
  }
  .item {
    &-poster {
      display: block;
      position: relative;
    	height: 0;
      overflow: hidden;
      cursor: pointer;
      padding-bottom: 66.6%; /* 3:2 */
      @media (max-width: $screen-xs-max) {
        padding-bottom: 150%; /* 2:3 */
        .home & {
          margin-left: -20px;
          margin-right: -20px;
        }
      }
      &:hover {
        .item-poster-inner {
          backface-visibility: hidden; // avoid 1px jitter
          transform: scale(1.01);
          opacity: .8;
        }
      }
      &-inner {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        transition: all .1s linear;
        transform: scale(1);
        opacity: 1;
      }
    }
    &-summary {
      .title {
        font-size: 1.8rem;
        @include ellipsis(#{1.8rem}, 1);
        margin-bottom: $grid-gutter-width / 2;
        @media (max-width: $screen-xs-max) {
          font-size: 1.4rem;
          @include ellipsis(#{1.4rem}, 1);
        }
        .home & {
          font-size: 2.4rem;
          @include ellipsis(#{2.4rem}, 1);
          margin-bottom: $grid-gutter-width;
          @media (max-width: $screen-xs-max) {
            font-size: 1.8rem;
            @include ellipsis(#{1.8rem}, 1);
            margin-bottom: $grid-gutter-width / 2;
          }
        }
      }
    }
  }
}
