.entry-body + .works-body {
  margin-top: $line-height-computed * 2;
  @media (min-width: $screen-sm) { margin-top: $line-height-computed * 4; }
}

.works-body {
  @include clearfix;
  @include make-row(20px);
  .works-item {
    @include make-xs-column(6, 20px);
  }
}

body.home {
  .works-body {
    @include make-row(0);
    .works-item {
      @include make-xs-column(12, 0);
    }
  }
}

.single-works {
  .entry-header {
    text-align: left;
  }
  .entry-title {
    font-size: 2rem;
    @media (min-width: $screen-sm) {
      font-size: 2.4rem;
    }
  }
  .entry-feature {
    @media (max-width: $screen-xs-max) {
      margin-left: -20px;
      margin-right: -20px;
    }
    > .entry-item {
      > .item-image {
        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .entry-content {
    @media (max-width: $screen-xs-max) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  .entry-meta {
    margin-bottom: $line-height-computed * 2;
    @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
  }
}

.entry-types {
  font-size: $font-size-small;
  @extend %list-unstyled;
  @extend %list-inline;
  &:before {
    content: 'Categories:';
    margin-right: 1em;
  }
  > li {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.entry-content {
  @include word-wrap;
  margin-bottom: $line-height-computed * 2;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
}

.entry-item {
  @include word-wrap;
  margin-bottom: $line-height-computed;
  > .item-editor {
    text-align: left;
  }
  > .item-image {
    text-align: center;
    > img {
      @extend %img-responsive;
    }
  }
  > .item-oembed, > .item-video {
    position: relative;
	  padding-bottom: 56.25%; /* 16:9 */
	  height: 0;
    background: #000;
    > iframe, > object, > embed, > video {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}

.works-item {
  text-align: left;
  margin-bottom: $grid-gutter-width / 2;
  .home & {
    margin-bottom: $grid-gutter-width;
  }
  .item {
    &-poster {
      display: block;
      position: relative;
    	height: 0;
      overflow: hidden;
      cursor: pointer;
      padding-bottom: 56.25%; /* 16:9 */
      @media (max-width: $screen-xs-max) {
        padding-bottom: 150%; /* 2:3 */
        .home & {
          margin-left: -20px;
          margin-right: -20px;
        }
      }
      &:hover {
        .item-poster-inner {
          backface-visibility: hidden; // avoid 1px jitter
          transform: scale(1.01);
          opacity: .8;
        }
      }
      &-inner {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        transition: all .1s linear;
        transform: scale(1);
        opacity: 1;
      }
    }
    &-summary {
      .title {
        font-size: 1.8rem;
        @include ellipsis(#{1.8rem}, 1);
        margin-bottom: $grid-gutter-width / 2;
        @media (max-width: $screen-xs-max) {
          font-size: 1.4rem;
          @include ellipsis(#{1.4rem}, 1);
        }
        .home & {
          font-size: 2.4rem;
          @include ellipsis(#{2.4rem}, 1);
          margin-bottom: $grid-gutter-width;
          @media (max-width: $screen-xs-max) {
            font-size: 1.8rem;
            @include ellipsis(#{1.8rem}, 1);
            margin-bottom: $grid-gutter-width / 2;
          }
        }
      }
    }
  }
}
