.entry-body + .works-body {
  margin-top: $line-height-computed * 2;
  @media (min-width: $screen-sm) { margin-top: $line-height-computed * 4; }
}

.works-body {
  @include make-row(0);
  .works-item {
    @include make-xs-column(6, 0);
    @include make-sm-column(4, 0);
  }
  .works-header {
    @media (min-width: $screen-sm) {
      margin-top: 0;
    }
  }
}

.works-header {
  text-align: center;
  > h1, h2 {
    font-size: $font-size-h2;
  }
  > h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
  }
  @media (min-width: $screen-sm) {
    margin-top: -40px;
    > h1, h2, h3, h4, h5, h6 {
      margin: 0 0 2em;
    }
  }
}

.post-type-archive-works {
  .page-header {
    @media (min-width: $screen-sm) {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}

.single-works {
  .entry-title {
    @extend %container-xs;
    text-align: center;
    @media (min-width: $screen-sm) {
      margin-top: -40px;
    }
  }
  .entry-feature {
    @extend %container-xl;
    > .entry-item {
      > .item-image {
        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .entry-content {
    @extend %container-lg;
    > .entry-item {
      @extend %container-md;
      &:nth-child(odd) {
        margin-right: 0;
        .item-editor {
          @media (min-width: $screen-md) {
            margin-right: 0;
          }
        }
      }
      &:nth-child(even) {
        margin-left: 0;
        .item-editor {
          @media (min-width: $screen-md) {
            margin-left: 0;
          }
        }
      }
    }
  }
  .entry-meta {
    margin-bottom: $line-height-computed * 2;
    @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
  }
}

.entry-types {
  text-align: center;
  @extend %list-unstyled;
  @extend %list-inline;
  font-family: $headings-font-family;
  > li {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.entry-content,
.entry-item {
  @include word-wrap;
  margin-bottom: $line-height-computed * 2;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
}

.entry-item {
  margin-bottom: $line-height-computed * 2;
  @media (max-width: $screen-xs-max) { margin-bottom: $line-height-computed; }
  > .item-editor {
    //@extend %container-sm;
  }
  > .item-image {
    text-align: center;
    > img {
      @extend %img-responsive;
    }
  }
  > .item-oembed, > .item-video {
    position: relative;
	  padding-bottom: 56.25%; /* 16:9 */
	  height: 0;
    background: #000;
    > iframe, > object, > embed, > video {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}

.works-item {
  text-align: center;
  margin-bottom: $grid-gutter-width / 2;
  .item {
    &-poster {
      display: block;
      position: relative;
    	height: 0;
      overflow: hidden;
      cursor: pointer;
      padding-bottom: 56.25%; /* 16:9 */
      background-color: #000;
      &:hover {
        .item-poster-inner {
          transform: scale(1.01);
          opacity: .7;
        }
      }
      &-inner {
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        transition: all .1s linear;
        transform: scale(1);
        opacity: 1;
      }
    }
    &-summary {
      .title {
        font-size: 1.8rem;
        @include ellipsis(#{$line-height-computed * 2}, 2);
      }
      .taxonomy {
      }
    }
  }
}
