extends _layouts/default

block head
  - var lang = meta.lang
  - var locale = meta.locale
  - var title = meta.title
  - var description = meta.description
  - var og_img = 'og.jpg';
  - var body_class = 'baskerville';

block main
  .content
    h1 STUDIO PT.
      small Graphic Design, Art Direction
    p
      | Portal Apartment #603
      br
      | 4-17, Sakuragaoaka-cho, Shibuya-ku,
      br
      | Tokyo 150-0031 Japan
    p
      | contact@studio-pt.co
